<style>                                           
  
    .root{
    width: 1000px;
    height: auto;
   
    border-radius: 10px;
    padding:10px
    
    }

    .side{
    width: 600px;
    height: auto;
    background:white;
    margin: 30px;
    padding:10px;   
    }
    .maincontainer{
        
              display: flex;
             justify-content: center;
         
             align-items: center;
            height: 40vh;
            background: url('/images/Res1.jpeg')
         
                       
        }

        .newcontainer{
        
        display: flex;
       justify-content: center;
      height: 60vh;
      background: rgb(245, 201, 162);         
  }
        
    .cover{
        
      height: auto;
      background:white;
    width: 100%;
    margin: 30px;
    padding:10px;           
  }
    .heading{
        color:#918c8c;
      font-size: 28px;
        font-weight: bold;
        font-family: oxygen;
        
        display:flex;
        justify-content: center;
        padding: 5px;
    }

    .Writeup{
        color: black;
      font-size: 40px;
        font-weight: bold;
        font-family: oxygen;
        padding: 5px;
    
    }
    .nWriteup{
        color: black;
      font-size: 50px;
        font-weight: bold;
        font-family: oxygen;
        padding: 5px;
        margin-left: 90px;
      margin-right: 90px;
      margin-top: 30px;
    }
    .details{
        color: black;
      font-size: 20px;
        font-family: oxygen;
        padding: 5px;
    
    }
    </style>
    <html>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Belton</title>
      

                  <!--Import Google Icon Font-->
                  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     

      
            
                  <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
            
        </head>
 <body>


    
        <div class="maincontainer">
            <div class="root">
            
                <nav>
                    <div class="nav-wrapper">
                      <a href="#" class="brand-logo"><img src='/images/F.jpeg' width="60"></a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/Food/Foodenquiry">Home</a></li>
                        <li><a href="/Food/aboutus">About Us</a></li>
                        <li><a href="/Food/LoginPage">Login</a></li>
                      </ul>
                    </div>
                  </nav>
                  <div class="heading">
                    Food Enquiry System
                </div>

                <div class="row">
                    <div class="col s12">
                       
                            <div class="input-field ">
                              <i class="material-icons prefix">list</i>
                              <input id="fid" name="Foodid" type="text" class="validate">
                              <label for="fid">Food Id</label>
                            </div>
                        </div>
                </div>
            </div>
        </div>

       <div class="cover">
            <div class="Writeup">
              <div class="row">
                <div class="col s12">
                Here’s our story 
            </div>
        </div>
        </div>
       </div>
        <div class="cover">
            
             <div class="row">
                 <div class="col s6 details">
                    We started out at our home kitchen, whipping up finger-foods for our friends’ weddings and nieces’ birthdays. Everyone loved our food and our innovative combinations of flavors.
                 </div>
                 <div class="col s6 details">
                    So, what started out as a family operated business quickly grew into a fully-fledged small business that we operate out of our professional catering kitchen in Lisle. The team has also grown to 6 people; we can cater at events as large as 1,000 people.
                </div>
             </div>
           
            <div class="row">
                <div class="col s6">
                    <img src="/images/burger.webp" width="580px">
                </div>

                <div class="col s6" >
                    <img src="/images/dd.webp" width="580px">
                </div>
            </div>
        </div>

        <div class="newcontainer">
            <div class="nWriteup">
                <div class="row">
                    <div class="col s12">
                        First, we eat. Then we do everything else. Let us take care of food at your special event.
                    </div>
                </div>
            </div>
        </div>

        <div class="side">
            <div class="row">
                <div class="col s12 Writeup">
                    Contact Us
                </div>
              <div class="row">
                  <div class="col s6 details" style="font-weight: bold;">
                    Shubham Trivedi:
                  </div>
                  <div class="col s6 details">
                      +91 7225834404
                  </div>
              </div>
            </div>
            
              <div class="row">
                  <div class="col s6 details" style="font-weight: bold;">
                    Ayushi Kamthan:
                  </div>
                  <div class="col s6 details">
                      +91 9174398449
                  </div>
              </div>
           
        </div>
 

 </body>

        </html>