<style>      
 .side{
    width: 600px;
    height: auto;
    background:white;
    margin: 30px;
    padding:10px;   
    }
    .Writeup{
        color: black;
      font-size: 40px;
        font-weight: bold;
        font-family: oxygen;
        padding: 5px;
    
    }
    .nWriteup{
        color: black;
      font-size: 60px;
        font-weight: bold;
        font-family: oxygen;
        padding: 5px;
        margin-left: 150px;
      margin-right: 150px;
      margin-top: 30px;
    }
    .iWriteup{
        color: black;
      font-size: 60px;
        font-weight: bold;
        font-family: oxygen;
        padding: 5px;
        margin-left: 60px;
      margin-right: 60px;
      margin-top: 30px;
    }
    .details{
        color: black;
      font-size: 20px;
        font-family: oxygen;
        padding: 5px;
        margin-left: 60px;
      margin-right: 60px;
    }

.newcontainer{
        
        display: flex;
       justify-content: center;
      height: auto;
      background: rgb(245, 201, 162);   
      margin-top: 50px;
      padding-top: 10px;      
  }
  
    .root{
    width: 1000px;
    height: auto;
   
    border-radius: 10px;
    padding:10px
    
    }
    .maincontainer{
        
              display: flex;
             justify-content: center;
         
             align-items: center;
            height: 40vh;
            background: url('/images/Res1.jpeg')
         
                       
        }
        
    .cover{
        
        display: flex;
       justify-content: center;
   
       align-items: center;
      height: auto;
      width: 100%;
      background:white;
   margin-top: 30px;
                 
  }
    .heading{
        color:#918c8c;
      font-size: 28px;
        font-weight: bold;
        font-family: oxygen;
        
        display:flex;
        justify-content: center;
        padding: 5px;
    
    }
    </style>
    <html>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Belton</title>
        </head>
        <body>
            
        </body>
        </html>
        <head>

                  <!--Import Google Icon Font-->
                  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     

      
            
                  <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
            
        </head>
 <body>


    
        <div class="maincontainer">
            <div class="root">
            
                <nav>
                    <div class="nav-wrapper">
                      <a href="#" class="brand-logo"><img src='/images/F.jpeg' width="60"></a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/Food/Foodenquiry">Home</a></li>
                        <li><a href="/Food/aboutus">About Us</a></li>
                        <li><a href="/Food/LoginPage">Login</a></li>
                      </ul>
                    </div>
                  </nav>
                  <div class="heading">
                    Food Enquiry System
                </div>

                <div class="row">
                    <div class="col s12">
                       
                            <div class="input-field ">
                              <i class="material-icons prefix">list</i>
                              <input id="fid" name="Foodid" type="text" class="validate">
                              <label for="fid">Food Id</label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
            <div class='cover'>       
                <div class="root">
                    <div class="row">
                        <div class="col s3">
                            <a href="/Food/Viewpage"><img src='/images/Cont.jpeg' width='220'></a>
                        </div>

                        <div class="col s3">
                            <a href=""><img src='/images/Si.jpeg' width='220'></a>
                        </div>

                        <div class="col s3">
                            <a href=""><img src='/images/Gj.jpeg' width='170'></a>
                        </div>

                        <div class="col s3">
                            <a href=""><img src='/images/Rj2.jpeg' width='170'></a>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s3" style="display:flex;justify-content: center;" >
                        <strong>Continental</strong>
                        </div>

                        <div class="col s3" style="display:flex;justify-content: center;">
                           
                            <strong>South Indian</strong>
                        </div>

                        <div class="col s3" style="display:flex;justify-content: center;">
                         
                            <strong>Gujarati</strong>
                        </div>
                        
                        <div class="col s3" style="display:flex;justify-content: center;">
                            
                            <strong>Rajasthani</strong>
                        </div>
                    </div>
                    
              

               
                    <div class="row">
                        
                        <div class="col s12">
                            <div class="nwriteup">
                            Bring people together &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; with  great food
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cover">
                
                <div class="row">
                    <div class="col s12">
                        <img src="/images/cd.jpg" width="1240px">
                    </div>
                </div>
          
            </div>

            <div class="newcontainer">
                
                    <div class="row">
                        <div class="col s6">
                            <img src="/images/cc.webp" width="650px">
                        </div>
        
                        <div class="col s6" >
                            <div class="iWriteup">
                            Delicious food creates memories
                        </div>
                        <div class="details">
Belton is food studio that not just caters out deliciousness, but lives by the philosophy that nothing brings people together like good food. Whatever the occasion that you need our food for, whatever dietary requirements, we will make it happen.
</div>
                        </div>
                    </div>
              
            </div>

            <div class="cover">
              
               <div class="row">
                   <div class="col s6">
                       <img src="/images/p.webp" width="580px">
                   </div>
   
                   <div class="col s6" >
                       <img src="/images/g.webp" width="580px">
                   </div>
               </div>
           </div>

            <div class="newcontainer">
                <div class="nWriteup">
                    <div class="row">
                        <div class="col s12">
                            First, we eat. Then we do everything else. Let us take care of food at your special event.
                        </div>
                    </div>
                </div>
            </div>



            <div class="side">
                <div class="row">
                    <div class="col s12 Writeup">
                        Contact Us
                    </div>
                  <div class="row">
                      <div class="col s6 details" style="font-weight: bold;">
                        Shubham Trivedi:
                      </div>
                      <div class="col s6 details">
                          +91 7225834404
                      </div>
                  </div>
                </div>
                
                  <div class="row">
                      <div class="col s6 details" style="font-weight: bold;">
                        Ayushi Kamthan:
                      </div>
                      <div class="col s6 details">
                          +91 9174398449
                      </div>
                  </div>
               
            </div>


    </body>



    </html>